.DS_Store
.skey
.vkey
.test_addr
.addr
__pycache__/
src/auth_nft_minting_tool/node_modules/
node_modules/
keys/
*.json
src/.coverage
src/on_chain/build

# extra venvs
compile_venv/

# Python virtual environment
venv/
env/
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo
